<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XingAo.Software.Web.UserCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings file="Config\AppSetting.config"/>
  <connectionStrings configSource="Config\Connection.config"/>
  
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <applicationSettings>
    <XingAo.Software.Web.UserCenter.Properties.Settings>
      <setting name="XingAo_Software_Web_UserCenter_AccoutLogin_LoginService"
        serializeAs="String">
        <value>http://localhost:20002/Accout/LoginService.asmx</value>
      </setting>
      <setting name="XingAo_Software_Web_UserCenter_AccoutRegister_RegisterService"
        serializeAs="String">
        <value>http://localhost:20002/Accout/RegisterService.asmx</value>
      </setting>
    </XingAo.Software.Web.UserCenter.Properties.Settings>
  </applicationSettings>
</configuration>
