<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 数据库连接字符串是否加密 -->
  <add key="ConStringEncrypt" value="false" />
  <!--使用哪个数据库连接-->
  <add key="DefaultConnectionString" value="ConnectionString2" />
  <!--多库操作时，数据库连接-->
  <add key="MultiConnectionString" value="ConnectionString" />
  <!--系统专用服务调用帐号 -->
  <add key="AppKey" value="XingAo" />
  <!--系统专用服务调用编码-->
  <add key="AppCode" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;u/dSqDrWFwou+eaoBdrriu+L8z1CgmwMuahWxPHylYG02eYOYOODvtzFBWlq7fcnoq3CIZAfk5WBqk4ztmvY15K/PWcXA6Iyf0/MC1YUDAzivbWscBUIRAvKlkzCpeT/IVBp49eH82yBoSCwDMxoWE1o8S1yG75EIRTdkqtu2OU=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
  <!--网站名称（用于title）-->
  <add key="SiteName" value="中国教育资源在线" />
  <add key="SiteUrl" value="http://www.cnjy.net" />
  <add key="Copyright" value="Copyright @ 2012-{currentyear} www.xing-ao.net Inc. All rights reserved." />
  <add key="Tel" value="0576-82923030" />
  <add key="Fax" value="0576-82923030" />
  <add key="ZIP" value="318050" />
  <add key="Address" value="浙江省台州市路桥区国际会展中心" />
  <add key="ServiceEmail" value="support@xing-ao.net" />
  <!--网站首页关键字-->
  <add key="IndexKeyWords" value="xxx,xxx,xx,xxx" />
  <!--网站首页描述-->
  <add key="IndexDescription" value="" />
  <!--短信设置-->
  <add key="PhoneUsername" value="tysh" />
  <add key="PhonePassword" value="123456" />
  <add key="PhoneSign" value="生本教育" />
  <!--短信通道(1、审核通道  2、免审核通道 3、短信猫)-->
  <add key="Passage" value="1" />
  <!--邮件设置-->
  <!--SMTP服务器-->
  <add key="SMPTServer" value="smtp.exmail.qq.com" />
  <!--发件人昵称-->
  <add key="SendName" value="中国教育资源在线 - 客服邮箱" />
  <!--邮箱账号-->
  <add key="SendAccount" value="support@xing-ao.net" />
  <!--邮箱密码-->
  <add key="SendPwd" value="xingao123" />
  <!--SMTP端口-->
  <add key="SMTPPort" value="25" />
  <!--身份验证-->
  <add key="SmtpValidation" value="0" />
  <!--调用短信API的基本地址-->
  <add key="PostUrl" value="http://sms.xing-ao.cn/" />
  <add key="AppUser" value="tzweixin" />
  <add key="AppPwd" value="ASFGFGHH%%$#^*87655%^hgFJK" />
  <!--QQ登录相关配置-->
  <add key="APPID" value="100224068" />
  <add key="APPKEY" value="03f2583763e4b89a3d627a619897b440" />
  <add key="CallBackUrl" value="{0}/QQLogin/QQCallBack.htm" />
  <!--除域名外的url地址（即系统到时会自动加上SiteUrl配置的内容）-->
  <add key="QQLoginValid" value="135731477765137456654" />
</appSettings>