<?xml version="1.0"?>
<connectionStrings>
  <!-- 数据库连接字符串（注意：如果appsetting.config文件ConStringEncrypt为true时，下面字符串得用加密的）--> 
  <add name="ConnectionString"  providerName="System.Data.SqlClient" connectionString="server=58.211.73.84;database=ShengBen_System;uid=ShengBen_System;pwd=AaaKJKgjkkH07878!@@#@)*(*kjG111"/>
  

  <!-- 其它数据库连接字符串 -->
  <add name="ConnectionString2" providerName="System.Data.SqlClient" connectionString="server=127.0.0.1;database=ShengBen_System;uid=sa;pwd=Aaa111"/>
</connectionStrings>
