<?xml version="1.0"?>
<!--后台编辑页面表单生成配置-->
<Settings>
  <!--普通单选文本框-->
  <textbox>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px></style>
    </ShowAttr>
    <Template>[input {0} ]</Template>
  </textbox>
  <!--下拉框-->
  <droupdownlist>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px></style>
    </ShowAttr>
    <Template>[select {0} ][/select]</Template>
  </droupdownlist>
  <!--编辑器（富文本框）-->
  <!--<richtextbox>
    <ShowAttr>
      <id>{ID}</id>
      <rows>6</rows>
      <cols>100</cols>
      <class>editor</class>
      <tools>mfull</tools>
    </ShowAttr>
    <Template>
      [textarea {0} ][/textarea]
    </Template>    
  </richtextbox>-->
  <!--编辑器配置-->
  <richtextbox>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px</style>
      <class>editor</class>
    </ShowAttr>
    <Template>
      [textarea {0} ][/textarea]     
    </Template>
  </richtextbox>
  <!--多选框-->
  <checkbox>
    <ShowAttr>
      <id>{ID}</id>
      <type>checkbox</type>
    </ShowAttr>
    <Template>[input {0} /]</Template>
  </checkbox>
  <!--多行文本框-->
  <multilinetextbox>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px</style>
    </ShowAttr>
    <Template>[textarea {0}][/textarea]</Template>
  </multilinetextbox>
  <!--单张图片上传-->
  <picfile>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px</style>
    </ShowAttr>
    <Template>[input {0} /] [input type="button" id="uploadButton-{ID}" value="选择图片" class="Pic_Upload_File" /]</Template>
  </picfile>
  <!--多张图片上传-->
  <picfiles>
    <ShowAttr>
      <id>{ID}</id>
      <type>hidden</type>
    </ShowAttr>
    <Template>
      [div id="imgList_{ID}"][/div]
      [input {0} /]
      [input type="button" id="uploadsButton-{ID}" value="批量选择图片" class="Pic_Upload_Files" alt="imgList_{ID}|100" /]
    </Template> 
    <!--alt两个参数作用： 1.声明图片上传完成后，把缩略图显示在界面的哪个dom上，  2.显示的缩略图宽度-->
  </picfiles>
  <!--单附件上传-->
  <attachmentfile>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px</style>
    </ShowAttr>
    <Template>
      [input {0} /] [input type="button" id="uploadButton-{ID}" value="选择文件" class="Upload_File" /]
    </Template>
  </attachmentfile>
  <!--多附件上传(只能一次传一个，然后在文本框内追加路径，每个间隔以,间隔)-->
  <attachmentfiles>
    <ShowAttr>
      <id>{ID}</id>
      <style>width:{Width}px;height:{Height}px</style>
    </ShowAttr>
    <Template>
      [input {0} /] [input type="button" id="uploadButton-{ID}" value="增加文件" class="Upload_Files" /]
    </Template>
  </attachmentfiles>
  <!--查找带回 {DataBind}参数由后台“数据绑定”项来填写-->
  <lookupgroup>
    <ShowAttr>
      <style>width:{Width}px;height:{Height}px</style>
      <readonly></readonly>
    </ShowAttr>
    <Template>
      [input name="{ID}" id="{ID}" lookFor="{ID}" type="hidden"/]
      [input name="{ID}_text" id="{ID}_text" lookFor="{ID}" type="text" readonly="" {0}/]
      [a class="btnLook" href="{DataBind}" lookupGroup="{ID}"]查找带回[/a]
      [a href="javascript:;" onclick="$('#{ID}').val('');$('#{ID}_text').val('');"]清除[/a]
    </Template>
  </lookupgroup>
</Settings>