UserCenter/XingAo.Software.UserCenter/bin/Debug/XingAo.Software.UserCenter.dll
UserCenter/XingAo.Software.UserCenter/bin/Debug/XingAo.Software.UserCenter.pdb
UserCenter/XingAo.Software.UserCenter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.csproj.FileListAbsolute.txt
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.csprojResolveAssemblyReference.cache
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.dll
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.pdb
Xing-Ao.CMS.suo
.gitignore.orig
Core/XingAo.Core.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Permission/XingAo.Networks.VerifyPermissions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter.Card/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter.Impl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Networks.CMS.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Software.Web.Manager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeChat/XingAo.Networks.WeChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Xing-Ao.CMS.suo
XingAo.Networks.CMS.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core.Data/bin/Debug/XingAo.Core.Data.dll
Core/XingAo.Core.Data/bin/Debug/XingAo.Core.Data.pdb
Core/XingAo.Core.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core.Data/obj/Debug/ResolveAssemblyReference.cache
Core/XingAo.Core.Data/obj/Debug/XingAo.Core.Data.csproj.FileListAbsolute.txt
Core/XingAo.Core.Data/obj/Debug/XingAo.Core.Data.dll
Core/XingAo.Core.Data/obj/Debug/XingAo.Core.Data.pdb
Core/XingAo.Core.Web/bin/Debug/XingAo.Core.dll
Core/XingAo.Core.Web/bin/Debug/XingAo.Core.pdb
Core/XingAo.Core.Web/bin/Debug/XingAo.Core.Web.dll
Core/XingAo.Core.Web/bin/Debug/XingAo.Core.Web.pdb
Core/XingAo.Core.Web/obj/Debug/build.force
Core/XingAo.Core.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core.Web/obj/Debug/ResolveAssemblyReference.cache
Core/XingAo.Core.Web/obj/Debug/XingAo.Core.Web.csproj.FileListAbsolute.txt
Core/XingAo.Core.Web/obj/Debug/XingAo.Core.Web.dll
Core/XingAo.Core.Web/obj/Debug/XingAo.Core.Web.pdb
Core/XingAo.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Core/obj/Debug/XingAo.Core.csproj.FileListAbsolute.txt
Core/XingAo.Core/obj/Debug/XingAo.Core.dll
Core/XingAo.Core/obj/Debug/XingAo.Core.pdb
Core/XingAo.Networks.CMS.Common/obj/Debug/build.force
Core/XingAo.Networks.CMS.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Networks.CMS.Common/obj/Debug/ResolveAssemblyReference.cache
Core/XingAo.Networks.CMS.Common/obj/Debug/XingAo.Networks.CMS.Common.csproj.FileListAbsolute.txt
Core/XingAo.Networks.CMS.Common/obj/Debug/XingAo.Networks.CMS.Common.dll
Core/XingAo.Networks.CMS.Common/obj/Debug/XingAo.Networks.CMS.Common.pdb
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/build.force
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/ResolveAssemblyReference.cache
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/XingAo.Networks.CMS.DbHelper.csproj.FileListAbsolute.txt
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/XingAo.Networks.CMS.DbHelper.dll
Core/XingAo.Networks.CMS.DbHelper/obj/Debug/XingAo.Networks.CMS.DbHelper.pdb
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Core.Data.dll
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Core.Data.pdb
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Networks.CMS.HttpModule.dll
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Networks.CMS.HttpModule.pdb
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Networks.CMS.Model.dll
Permission/XingAo.Networks.CMS.HttpModule/bin/Debug/XingAo.Networks.CMS.Model.pdb
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/ResolveAssemblyReference.cache
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/XingAo.Networks.CMS.HttpModule.csproj.FileListAbsolute.txt
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/XingAo.Networks.CMS.HttpModule.dll
Permission/XingAo.Networks.CMS.HttpModule/obj/Debug/XingAo.Networks.CMS.HttpModule.pdb
Permission/XingAo.Networks.VerifyPermissions/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Permission/XingAo.Networks.VerifyPermissions/obj/Debug/XingAo.Networks.VerifyPermissions.csproj.FileListAbsolute.txt
Permission/XingAo.Networks.VerifyPermissions/obj/Debug/XingAo.NetWorks.VerifyPermissions.dll
Permission/XingAo.Networks.VerifyPermissions/obj/Debug/XingAo.NetWorks.VerifyPermissions.pdb
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Core.Data.dll
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Core.Data.pdb
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Model.dll
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Model.pdb
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Template.Engine.dll
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Template.Engine.pdb
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Template.Label.dll
Template/XingAo.Networks.CMS.Template.Engine/bin/Debug/XingAo.Networks.CMS.Template.Label.pdb
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/ResolveAssemblyReference.cache
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/XingAo.Networks.CMS.Template.Engine.csproj.FileListAbsolute.txt
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/XingAo.Networks.CMS.Template.Engine.dll
Template/XingAo.Networks.CMS.Template.Engine/obj/Debug/XingAo.Networks.CMS.Template.Engine.pdb
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Core.Data.dll
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Core.Data.pdb
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Networks.CMS.Model.dll
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Networks.CMS.Model.pdb
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Networks.CMS.Template.Label.dll
Template/XingAo.Networks.CMS.Template.Label/bin/Debug/XingAo.Networks.CMS.Template.Label.pdb
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/ResolveAssemblyReference.cache
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/XingAo.Networks.CMS.Template.Label.csproj.FileListAbsolute.txt
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/XingAo.Networks.CMS.Template.Label.dll
Template/XingAo.Networks.CMS.Template.Label/obj/Debug/XingAo.Networks.CMS.Template.Label.pdb
UserCenter/XingAo.Software.UserCenter.Card/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter.Impl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Networks.CMS.TestDataShare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Networks.CMS.TestDataShare/obj/Debug/XingAo.Networks.CMS.TestDataShare.csproj.FileListAbsolute.txt
Web/XingAo.Networks.CMS.TestDataShare/obj/Debug/XingAo.Networks.CMS.TestDataShare.dll
Web/XingAo.Networks.CMS.TestDataShare/obj/Debug/XingAo.Networks.CMS.TestDataShare.pdb
Web/XingAo.Networks.CMS.Web/bin/XingAo.Core.Data.dll
Web/XingAo.Networks.CMS.Web/bin/XingAo.Core.Data.pdb
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Model.dll
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Model.pdb
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Template.Engine.dll
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Template.Engine.pdb
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Template.Label.dll
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Template.Label.pdb
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Web.dll
Web/XingAo.Networks.CMS.Web/bin/XingAo.Networks.CMS.Web.pdb
Web/XingAo.Networks.CMS.Web/obj/Debug/build.force
Web/XingAo.Networks.CMS.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Networks.CMS.Web/obj/Debug/ResolveAssemblyReference.cache
Web/XingAo.Networks.CMS.Web/obj/Debug/XingAo.Networks.CMS.Web.csproj.FileListAbsolute.txt
Web/XingAo.Networks.CMS.Web/obj/Debug/XingAo.Networks.CMS.Web.dll
Web/XingAo.Networks.CMS.Web/obj/Debug/XingAo.Networks.CMS.Web.pdb
Web/XingAo.Networks.CMS.Web/XingAo.Networks.CMS.Web.csproj.user
Web/XingAo.Software.Web.Manager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Software.Web.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/XingAo.Software.Web/bin/XingAo.Core.Data.dll
Web/XingAo.Software.Web/bin/XingAo.Core.Data.pdb
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Model.dll
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Model.pdb
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Template.Engine.dll
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Template.Engine.pdb
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Template.Label.dll
Web/XingAo.Software.Web/bin/XingAo.Networks.CMS.Template.Label.pdb
Web/XingAo.Software.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeChat/XingAo.Networks.WeChat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeChat/XingAo.Networks.WeChat/obj/Debug/ResolveAssemblyReference.cache
WeChat/XingAo.Networks.WeChat/obj/Debug/XingAo.Networks.WeChat.csproj.FileListAbsolute.txt
WeChat/XingAo.Networks.WeChat/obj/Debug/XingAo.Networks.WeChat.dll
WeChat/XingAo.Networks.WeChat/obj/Debug/XingAo.Networks.WeChat.pdb
Xing-Ao.CMS.suo
XingAo.Networks.CMS.InterFace/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XingAo.Networks.CMS.InterFace/obj/Debug/XingAo.Networks.CMS.InterFace.csproj.FileListAbsolute.txt
XingAo.Networks.CMS.InterFace/obj/Debug/XingAo.Networks.CMS.InterFace.dll
XingAo.Networks.CMS.InterFace/obj/Debug/XingAo.Networks.CMS.InterFace.pdb
XingAo.Networks.CMS.Model/bin/Debug/XingAo.Core.Data.dll
XingAo.Networks.CMS.Model/bin/Debug/XingAo.Core.Data.pdb
XingAo.Networks.CMS.Model/bin/Debug/XingAo.Networks.CMS.Model.dll
XingAo.Networks.CMS.Model/bin/Debug/XingAo.Networks.CMS.Model.pdb
XingAo.Networks.CMS.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XingAo.Networks.CMS.Model/obj/Debug/ResolveAssemblyReference.cache
XingAo.Networks.CMS.Model/obj/Debug/XingAo.Networks.CMS.Model.csproj.FileListAbsolute.txt
XingAo.Networks.CMS.Model/obj/Debug/XingAo.Networks.CMS.Model.dll
XingAo.Networks.CMS.Model/obj/Debug/XingAo.Networks.CMS.Model.pdb
XingAo.Networks.CMS.Setup/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XingAo.Networks.CMS.Setup/obj/Debug/XingAo.Networks.CMS.Setup.csproj.FileListAbsolute.txt
XingAo.Networks.CMS.Setup/obj/Debug/XingAo.Networks.CMS.Setup.dll
XingAo.Networks.CMS.Setup/obj/Debug/XingAo.Networks.CMS.Setup.pdb
