UserCenter/XingAo.Software.UserCenter/bin/Debug/XingAo.Software.UserCenter.dll
UserCenter/XingAo.Software.UserCenter/bin/Debug/XingAo.Software.UserCenter.pdb
UserCenter/XingAo.Software.UserCenter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.csproj.FileListAbsolute.txt
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.csprojResolveAssemblyReference.cache
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.dll
UserCenter/XingAo.Software.UserCenter/obj/Debug/XingAo.Software.UserCenter.pdb
Xing-Ao.CMS.suo
