.article_content{float: left;}
.article_content h1{font-family: '微软雅黑';font-size: 26px;padding-bottom: 16px;}
/*.article_content .article_hd span{float: left;}*/
.article_content .article_hd .bor-tit{background: none repeat scroll 0 0 #e8e8e8;display: inline;height: 13px;margin-left: 0;margin:0 9px;overflow: hidden;width: 1px;}
.article_content a
 
    
    