<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 数据库连接字符串是否加密 -->
  <add key="ConStringEncrypt" value="false" />
  <!--使用哪个数据库连接-->
  <add key="DefaultConnectionString" value="ConnectionString" />
  <!--多库操作时，数据库连接-->
  <add key="MultiConnectionString" value="ConnectionString2" />
  <!--系统专用服务调用帐号 -->
  <add key="AppKey" value="XingAo" />
  <!--系统专用服务调用编码-->
  <add key="AppCode" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;u/dSqDrWFwou+eaoBdrriu+L8z1CgmwMuahWxPHylYG02eYOYOODvtzFBWlq7fcnoq3CIZAfk5WBqk4ztmvY15K/PWcXA6Iyf0/MC1YUDAzivbWscBUIRAvKlkzCpeT/IVBp49eH82yBoSCwDMxoWE1o8S1yG75EIRTdkqtu2OU=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
</appSettings>