<?xml version="1.0"?>
<connectionStrings>
  <!-- 数据库连接字符串（注意：如果appsetting.config文件ConStringEncrypt为true时，下面字符串得用加密的）--> 
  <add name="XingAo_UserCenter"  providerName="System.Data.SqlClient" connectionString="server=.;database=XingAo_UserCenter;uid=Sa;pwd=Aaa111"/>
  

  <!-- 其它数据库连接字符串 -->
  <add name="XingAo_SysConfigs" providerName="System.Data.SqlClient" connectionString="server=.;database=XingAo_SysConfigs;uid=sa;pwd=Aaa111"/>
</connectionStrings>
