<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"  providerName="System.Data.SqlClient" connectionString="server=192.168.1.103;database=XingAoCMS;uid=sa;pwd=123456"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!-- 数据库连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!--使用哪个数据库连接-->
    <add key="DefaultConnectionString" value="ConnectionString" />
    <!--系统专用服务调用帐号 -->
    <add key="AppKey" value="XingAo" />
    <!--系统专用服务调用编码-->
    <add key="AppCode" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;u/dSqDrWFwou+eaoBdrriu+L8z1CgmwMuahWxPHylYG02eYOYOODvtzFBWlq7fcnoq3CIZAfk5WBqk4ztmvY15K/PWcXA6Iyf0/MC1YUDAzivbWscBUIRAvKlkzCpeT/IVBp49eH82yBoSCwDMxoWE1o8S1yG75EIRTdkqtu2OU=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
    <!--网站名称（用于title）-->
    <add key="SiteName" value="台州市路桥区桐屿商会" />
    <add key="SiteUrl" value="http://www.tysh.gov.cn" />
    <add key="Copyright" value="Copyright @ 2004-{currentyear} www.tysh.gov.cn Inc. All rights reserved." />
    <add key="Tel" value="0576-12345678" />
    <add key="Fax" value="0576-12345678" />
    <add key="ZIP" value="317000" />
    <!--网站首页关键字-->
    <add key="IndexKeyWords" value="xxx,xxx,xx,xxx" />
    <!--网站首页描述-->
    <add key="IndexDescription" value="" />
    <!--短信账号-->
    <add key="PhoneUsername" value="tysh" />
    <add key="PhonePassword" value="123456" />
    <add key="PhoneUsername2" value="tysh" />
    <add key="PhonePassword2" value="123456" />
  </appSettings>
</configuration>
