<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>星奥网络-{$XingAo_网站配置之网站名称$}</title>
<!--{$XingAo_网站关键字与描述$}-->
    <link href="/Styles/SystemStyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="/Styles/Site.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="TopNotice">
	<div class="Box">
    	<div class="Notice">公告：11111111111111111111</div>
        <div class="AddFav">网站地图 加入收藏</div>
    </div>
</div>

<div class="Box LogoSearch">
	<div class="Logo"><img src="/Themes/Default/Images/Logo.jpg" width="360" height="83" alt="" /></div>
    <div class="Search">
    	<form name="SiteSearchFrom" action="" method="post">
    	<div class="SearchClass">
          <ul>
          <li class="Select" value="1">产品</li>
          <li value="2">资源</li>
          <li value="3">资讯</li>
          </ul>
        </div>        
        <div class="SearchForm">
       	  <div class="SearchInput">
            <input name="SearchClass" id="SearchClass" type="hidden" value="1" />            
            <input type="text" name="SearchKey" id="SearchKey" />
        	</div>
            <div class="SearchBtn"><input name="Btn_Search" type="image" src="/Themes/Default/Images/Btn_Search.jpg" id="Btn_Search" /></div>
        </div>
        </form>
        <script type="text/javascript">
        $(".SearchClass li").click(function()
		{
			$(this).addClass("Select").siblings().removeClass("Select");
			$("#SearchClass").val($(this).attr("value"));
		});
        </script>
    </div>
</div>

<div class="TopMenu">
	<div class="Box">   
      <dl class="Item1">
        <dt>学科</dt>
        <dd>
          <a href="#">物理</a>
          <a href="#">生物</a>
          <a href="#">化学</a>
          <a href="#">科学</a>
          <br />
          <a href="#">语文</a>
          <a href="#">数学</a>
          <a href="#">英语</a>
        </dd>
      </dl>
      <dl class="Item2">
        <dt>年级</dt>
        <dd>
          <a href="#">小学</a>
          <a href="#">初中</a>
          <a href="#">高中</a>
          <br />
          <a href="#">小考</a>
          <a href="#">中考</a>
          <a href="#">高考</a>
        </dd>
      </dl>
      <dl class="Item3">
        <dt>类型</dt>
        <dd>
          <a href="#">课件</a>
          <a href="#">试卷</a>
          <br />
          <a href="#">教研</a>
          <a href="#">其它</a>
        </dd>
      </dl>
      <dl class="Item4">
        <dt>商场</dt>
        <dd>
          <a href="#">精品套装</a>
          <a href="#">小学《科学》实验器材</a>
          <a href="#">中小学科普DIY</a>
          <a href="#">力学实验器材</a>
          <a href="#">光学实验器材</a>
          <a href="#">电磁学实验器材</a>
          <a href="#">热学实验器材</a>
          <a href="#">声学实验器材</a>
          <a href="#">化学实验器材</a>
          <a href="#">生物实验器材</a>
          <a href="#">综合/其他</a>
        </dd>
      </dl>    	
    </div>
</div>

<div class="Box IndexBox1 GrayBorder">
	<div class="Left">
    	<h1>学科门户</h1>
        <ul id="LeftMenu">
        	<li>
              <span class="ICO">科学</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                111111111111111111111
              </div>
            </li>
            <li>
              <span class="ICO">物理</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">化学</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">生物</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">语文</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">数学</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">英文</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">历史与社会</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
          <li>
              <span class="ICO">其它综合</span>
              <div class="Link">
                  <a href="#">直线运动</a>
                  <a href="#">万有引力定律</a>
                  <a href="#">力与物</a>
              </div>
              <div class="subMenu">
                <dl>
                <dt>小学科学</dt>
                <dd>
                  <!--版本-->
                  <div class="little cl">
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/11527/">教科版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/16591/">苏教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/23310/">青岛版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39087/">浙教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39088/">首师大版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39089/">沪教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/70857/">鄂教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71682/">新课标人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/39263/">其它版本</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71679/">冀教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71680/">人教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/71683/">湘教版</a>
                      <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/96537/">大象版</a>
                  </div>
                  <!--专区-->
                  <div class="little cl"> 
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49364/">小升初专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49365/">月考专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49366/">期中专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/49367/">期末专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92725/">寒假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/92726/">暑假专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/91499/">精品专区</a>
                    <a style="color: rgb(103, 103, 103);" target="_blank" href="http://www.21cnjy.com/5/24811/">待归类资料</a>
                   </div>
                </dd>
                </dl>
              </div>
            </li>
        </ul>
    </div>
    <script type="text/javascript">
    $("#LeftMenu > li").each(function(index, element) 
	{
        $(this).hover(
		function()
		{
			$(this).css("backgroudn","red").children(".subMenu").show();
		},
		function()
		{
			$(this).find(".subMenu").hide();
		});
		$(this).children(".ICO").css("background-position","0 -"+(index*20)+"px");
    });
	$("#LeftMenu > li:even").css("background","#F3F3F3");
    </script>
    <div class="Mid">
      <img src="/Themes/Default/Images/AD11111111111111111111111.jpg" width="574" height="272" alt="" />
      <div class="MidTab">
      	<ul id="Tab" class="navTab">
        	<li>热点资料</li>
            <li>最新推荐</li>
            <li>新闻资讯</li>
            <li>全国生本教育研究中心</li>
            <li class="More"><a href="#">更多&gt;&gt;</a></li>
        </ul>
        <div class="List Clear" id="List">
          <div>111</div>
          <div>222</div>
          <div>333</div>
          <div>444</div>
        </div>
        <script type="text/javascript">
        $("#Tab li").click(function()
		{
			if(!$(this).hasClass("More"))
			{
			  $(this).addClass("Select").siblings().removeClass("Select");
			  var index=$(this).index();
			  $("#List > div").eq(index).show().siblings().hide();
			}
		});
		$("#Tab li:first").click();
        </script>
      </div>
    </div>
  <div class="Right">
      <div class="Login">
      <h1>用户登录</h1>
      <form action="" method="post" name="LoginForm">      	
        <div>
          <label>用户名：
            <input type="text" name="UserName" id="UserName" class="loginInput" />
          </label>
          </div>
        <div>
          <label>密　码：
            <input type="password" name="pwd" id="pwd" class="loginInput"  />
          </label>
          </div>
          <div>          
            <label>
              <input type="checkbox" name="AutoLogin" id="AutoLogin" />记住密码
            </label>
          | <a href="#">忘记密码</a> 
          </div>
          <div class="Btn">
            <input type="image" name="Btn_ULogin" id="Btn_ULogin" src="/Themes/Default/Images/Btn_Login.jpg" />
          &nbsp;<a href="#"><img src="/Themes/Default/Images/Btn_Reg.jpg" width="85" height="33" alt="" /></a> </div>
    </form>
    </div>
    <div class="Statistics">
    	当前会员总数：<span>364315</span>位<br />
本站资料总数：<span>54665</span>套
    </div>
    <div class="FastService">
    	<h2>快速服务</h2>
        <ul>
        	<li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
            <li>111</li>
        </ul>
    </div>
  </div>
  <div class="Clear" style="border-bottom:1px solid #E4E4E4">&nbsp;</div>
</div>

<div class="Box IndexBox2 GrayBorder">
	<div class="BoxTitle">
      <img src="/Themes/Default/Images/Title_Shop.jpg" width="173" height="50" alt="" />
      <a href="#">aaa</a> | 
      <a href="#">2222</a>
    </div>
	<div class="left">
    	<h2>类型分类</h2>
        <ul id="TypeClass">
        	<li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
        </ul>
        <script type="text/javascript">
        $("#TypeClass > li").each(function(index, element) {
            $(this).children("div").css("background-position","-"+(index*42)+"px 0");
        });
        </script>
    </div>
    <div class="right">
    	<ul>
        	<li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
        </ul>
        <div class="recommendation">
        	<ul>
            	<li>111</li>
                <li>2222</li>
                <li>333</li>
                <li>4444</li>
            </ul>
        </div>
    </div>
    <div class="Clear">&nbsp;</div>
</div>

<div class="Box IndexBox2 GrayBorder">
	<div class="BoxTitle">
      <img src="/Themes/Default/Images/Title_Shop2.jpg" width="195" height="50" alt="" />
      <a href="#">aaa</a> | 
      <a href="#">2222</a>
    </div>
	<div class="left">
    	<h2>类型分类</h2>
        <ul id="TypeClass2">
        	<li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
            <li><div>&nbsp;</div><a href="#">0011</a></li>
        </ul>
        <script type="text/javascript">
        $("#TypeClass2 > li").each(function(index, element) {
            $(this).children("div").css("background-position","-"+(index*42)+"px 0");
        });
        </script>
    </div>
    <div class="right">
    	<ul>
        	<li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
            <li><img src="/Themes/Default/Images/product1111111111111111.jpg" alt="" />
            <span>￥0</span>
            <div><a href="#" title="xxxxxx">定值电阻定值电阻定值电阻定值电阻定值电阻定值电1阻</a></div>
            </li>
        </ul>
        <div class="recommendation">
        	<ul>
            	<li>111</li>
                <li>2222</li>
                <li>333</li>
                <li>4444</li>
            </ul>
        </div>
    </div>
    <div class="Clear">&nbsp;</div>
</div>

<div class="Box IndexBox3 GrayBorder">
	<div class="BoxTitle">
      <img src="/Themes/Default/Images/Title_Shop3.jpg" width="168" height="50" alt="" />
      <a href="#">aaa</a> | 
      <a href="#">2222</a>
    </div>
	<div class="List">
    	<div class="Left">
       	  <h2>推荐资源</h2>
            <ul>
            	<li class="First"><img src="/Themes/Default/Images/Ad1111111111111111.jpg" width="130" height="75" alt="" />
                <div class="Info">
                  <h1>11111</h1>adfasdfajiofepi0ewrwe;sjdlfo9sd0fisdjfioweipasdjfoasdu0f9wepfsldjfoasipdflsdhfoes
                </div>
                </li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
            </ul>
        </div>
        <div class="Mid">
        	<h2>最新资源</h2>
            <ul>
            	<li class="First"><img src="/Themes/Default/Images/Ad1111111111111111.jpg" width="130" height="75" alt="" />
                <div class="Info">
                  <h1>11111</h1>adfasdfajiofepi0ewrwe;sjdlfo9sd0fisdjfioweipasdjfoasdu0f9wepfsldjfoasipdflsdhfoes
                </div>
                </li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
            </ul>
        </div>
        <div class="Right">
        	<h2>点击排行</h2>
            <ul id="HitTop8">
            	<li>11111</li>
                <li>1111</li>
                <li>1111</li>
                <li>1111</li>
                <li>1111</li>
                <li>1111</li>
                <li>1111</li>
            </ul>
          <script type="text/javascript">
			$("#HitTop8 > li").each(function(index, element) {
				$(this).css("background-position","0 -"+(index*24)+"px");
			});
			</script>
        <img src="/Themes/Default/Images/HitAD.jpg" width="240" height="65" alt="" />
        </div>
    </div>
    <div class="Clear">&nbsp;</div>
</div>

<div class="Box IndexBox4 GrayBorder">
	<div class="BoxTitle">
      <img src="/Themes/Default/Images/Title_Resource.jpg" width="168" height="50" alt="" />
      <a href="#">aaa</a> | 
      <a href="#">2222</a>
    </div>	
    <div class="List">
    	<div class="Left">
       	  <h2>推荐资源</h2>
            <ul>
                <li>课件<br />
                <a href="#">1111</a>
                <a href="#">222</a>
                <a href="#">333</a>
                </li>
                <li>试卷<br />
                <a href="#">1111</a>
                <a href="#">222</a>
                <a href="#">333</a>
                </li>
                <li>教研<br />
                <a href="#">1111</a>
                <a href="#">222</a>
                <a href="#">333</a>
                </li>
                <li>其它<br />
                <a href="#">1111</a>
                <a href="#">222</a>
                <a href="#">333</a>
                </li>
            </ul>
        </div>
        <div class="Mid">
            <ul>
            	<li class="First"><img src="/Themes/Default/Images/Ad11111111111.jpg" width="190" height="130" alt="" />
                <div class="Info">
                  <h1>11111</h1>adfasdfajiofepi0ewrwe;sjdlfo9sd0fisdjfioweipasdjfoasdu0f9wepfsldjfoasipdflsdhfoes
                </div>
                </li>
                <li class="title"><h2>最新资源</h2></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
                <li><a href="#">1111</a></li>
            </ul>
        </div>
        <div class="Right">
              <h2>最新资源</h2>
            <ul>
                <li class="First">
                <img src="/Themes/Default/Images/Ad111111111111111111111.jpg" width="96" height="75" alt="" />
                <div class="Info">
                <h3>00000</h3>
                Ad11111111111111111111111111
                </div>             
                </li>
                <li>1111</li>
                <li>22</li>
                <li>33</li>
                <li>444444</li>
                <li>5555</li>
                <li>66666</li>
            </ul>          
          </div>
        <div class="Clear">&nbsp;</div>
    </div>
</div>

<div class="Box IndexBox5 GrayBorder">
	<div class="BoxTitle">
      <img src="/Themes/Default/Images/Title_School.jpg" width="168" height="50" alt="" />
    </div>
    <div class="SchoolList">
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
  </div>
</div>

<div class="Box IndexBox6 GrayBorder">
  <img src="/Themes/Default/Images/Title_FriendLink.jpg" width="102" height="33" alt="" />
  <div class="List">
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">111</a>
    <a href="#">122211</a>
    <a href="#">11333331</a>
    <a href="#">15511</a>
    <a href="#">111</a>
    <a href="#">111</a>
  </div>
</div>
<div class="Foot">
<a href="#">免责声明</a> | <a href="#">帮助中心</a> | <a href="#">联系我们</a> | <a href="#">广告合作</a> | <a href="#">意见反馈</a> | <a href="#">友情链接</a> | <a href="#">全国中小学名录</a> | <a href="#">站点地图</a><br />
  浙ICP备13044278号 | 技术支持：<a href="#">星奥网络</a><br />
  Copyright&copy; 升本教育资源在线 2007-<script type="text/javascript">
document.write(new Date().getFullYear());
</script>
，All Rights Reserved

</div>
</body>
</html>
