<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$XingAo_网站配置之网站名称$}</title>
    <!--{$XingAo_网站关键字与描述$}-->
    <link rel="stylesheet" type="text/css" href="/Styles/SystemStyleSheet.css"/>
    <link rel="stylesheet" type="text/css" href="/Themes/Default/Css/Style.css"/>
    <script type="text/javascript" src="/Scripts/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/WebTopMenu.min.js"></script>
	<script type="text/javascript" src="/Scripts/SetIndexAndFav.js"></script>
</head>
<body>
<div class="BigBox Head">
  <div class="HeadBox">
    <div class="Logo floatLeft"><img src="/Themes/Default/Images/Logo.jpg" width="395" height="73" alt="" /><a name="Top" id="Top">&nbsp;</a></div>
    <div class="Tel floatLeft"><img src="/Themes/Default/Images/Tel.jpg" width="217" height="73" alt="" /></div>
    <div class="MenuBox clear">
    <div class="Left">&nbsp;</div>
    <div class="Mid">
    <div class="clear">
    	<ul id="menu">
        <li><a id='SY' href="/">首页</a>
        </li>
        <li><a id='TSJJ' href="/TSJJ">腾升简介</a>
        </li>
        <li><a id='DTYW' href="/LSDT">动态要闻</a>
        </li>
        <li><a id='YWFW' href="/YWFW">业务范围</a>
        <ul>
        <li><a id='LSSS' href="/LSSS">民事诉讼</a>
        </li>
        <li><a id='XSBH' href="/XSBH">刑事辩护</a>
        </li>
        <li><a id='HZSW' href="/HZSW">行政事务</a>
        </li>
        <li><a id='ZBSW' href="/ZBSW">仲裁事务</a>
        </li>
        <li><a id='FSFLSW' href="/FSFLSW">非讼法律事务</a>
        </li>
        </ul>
        
        </li>
        <li><a id='WJXZ' href="/WJXZ">文件下载</a>
        </li>
        </ul>
		<script type="text/javascript" src="/Scripts/WebTopMenu.min.js"></script>
        </div>
    </div>
    <div class="Right">&nbsp;</div>
    </div>
  </div>
</div>


<div class="BigBox Banner">
	<ul class="SubMenu" id="SubMenu">
    	<li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
        <li><a href="#">&nbsp;</a></li>
    </ul>
    <script type="text/javascript">
    $("#SubMenu li").each(function(index, element) {
		var Num=index+1;
        $(this).css("background","url(/Themes/Default/Images/SubMenu"+Num+".png) left bottom no-repeat");
		$(this).hover(
		function()
		{
			$(this).css("background",$(this).css("background").toLowerCase().replace(".png","_2.png"));
			},
		function()
		{
			$(this).css("background",$(this).css("background").toLowerCase().replace("_2.png",".png"));
		}
		);
    });
    </script>
</div>

<div class="BigBox IndexBG">
  <div class="Box Index4Cell">
      <div class="IndexPic"><img src="/Themes/Default/Images/temp11111111111111111111111111111111111111.jpg" width="182" height="116" /></div>
    <div class="IndexNews">
      <div class="Title">
          <img src="/Themes/Default/Images/Title_News.jpg" width="97" height="19" alt="" />
      </div>
      <ul class="NewsList">
          <li><span>2015-01-15</span><a href="#">11111111111111111</a></li>
          <li><span>2015-01-15</span><a href="#">11111111111111111</a></li>
          <li><span>2015-01-15</span><a href="#">11111111111111111</a></li>
          <li><span>2015-01-15</span><a href="#">11111111111111111</a></li>
      </ul>
    </div>
    <div class="IndexAbout">
      <div class="Title">
          <img src="/Themes/Default/Images/Title_About.jpg" width="127" height="19" alt="" />
      </div>
      <div class="InfoTxt">
      <img src="/Themes/Default/Images/AboutPic.jpg" width="107" height="84" alt="" />
      开山集团是国家大型企业，省级文明单位
       </div>
    </div>
    <div class="IndexContact">
      <div class="Title">
          <img src="/Themes/Default/Images/Title_Contact.jpg" width="106" height="19" alt="" />
      </div>
    <img src="/Themes/Default/Images/Map.jpg" width="139" height="104" alt="" />
    </div>
     <div class="clear"><img src="/Themes/Default/Images/IndexLine.jpg" width="978" height="17" alt="" /></div>
  </div>
</div>
<div class="Box IndexProduct">
	<div class="Title"><img src="/Themes/Default/Images/Title_Product.jpg" width="414" height="32" /></div>
  <div class="Mid">&nbsp;</div>
    <div class="More"><a href="#"><img src="/Themes/Default/Images/More.jpg" width="58" height="32" /></a></div>
    <div class="clear">&nbsp;</div>
    <div class="productshow">
              <div class="scrollcontainer">
                  <ul>
                      <li>
                      <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                      <div>
                      <a href="#" title="2012消防演练-双菱" target="_blank">KJ-100</a>
                      </div>
                    </li>
                      <li>
                      <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                      <div>
                      <a href="#" title="2012消防演练-双菱" target="_blank">KJ-101</a>
                      </div>
                    </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-102</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-103</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-104</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-105</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-106</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-107</a>
                        </div>
                      </li>
                      <li>
                        <a href="/ZLHHD/Show_7" title="2012消防演练-双菱" target="_blank"><img src="/Themes/Default/Images/temp2222222222222222222222222222222222.jpg" alt="2012消防演练-双菱" width="154" height="117" border="0" /></a>
                        <div>
                        <a href="#" title="2012消防演练-双菱" target="_blank">KJ-108</a>
                        </div>
                      </li>
                  </ul>
              </div>
              <a class="abtn aleft" href="#left">左移</a>
              <a class="abtn aright" href="#right">右移</a>
          </div>
          <script type="text/javascript" src="/Scripts/Xslider.js"></script>
          <script type="text/javascript">
          $(function(){
              $("ul.index_law li").click(function(ex){
                      $(this).addClass("t4_on").siblings().removeClass("t4_on");
                      $("#tab-content > div").hide().eq($('ul.index_law li').index(this)).show();
              });
              $(".productshow").Xslider({
                  unitdisplayed:5,
                  numtoMove:5,
                  loop:"cycle",
                  autoscroll:4000
              });
          })
          </script>
</div>

<div class="BigBox Foot clear">
	<div class=" Box ToTop"><a href="#Top"><img src="/Themes/Default/Images/ToTop.jpg" width="101" height="29" /></a></div>
    <div class="Box Txt">
    <img src="/Themes/Default/Images/Logo2.jpg" width="79" height="56" alt="" />Copyright &copy; 2014 开山集团宁夏总代理 版权所有 All Rights Reserved.<br />
浙ICP备09099963号 </div>
</div>
</body>
</html>
