<div class="accordionHeader">
    <h2><span>Folder</span>用户中心</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder expand">
		<li><a href="UserCenter/User/Index" target="navTab" rel="userInfo_navTab">用户信息设置</a></li> @*title="页面三（自定义标签名）"*@
		<li><a href="EmailCenter/Setting/Index" target="dialog" width="600" height="400" rel="userInfo_navTab" max="false" mask=true maxable=false minable=false resizable=false drawable=true>邮件设置</a></li> @*title="页面三（自定义标签名）"*@
    </ul>
</div>
