@charset "utf-8";
/* CSS Document */
.left_list{float:left; width:690px;}

.left_list .class_list{height:30px; line-height:30px; height:280px; border:#CCC 1px solid;}
.left_list .class_list h1{color:#06F; padding-left:10px;}

.left_list .class_item{clear:both; margin:0 2px;}
.left_list .class_item dl{display:block; width:100%;}
.left_list .class_item dl dt{float:left; display: inline; width:90px; text-align:right; margin:0;}
.left_list .class_item dl dd{float:left;display: inline; margin:0;}
.left_list .class_item dl dd ul{width:550px; margin:0 20px; padding:0;}
.left_list .class_item dl dd ul li{float:left; display:inline; margin:0 10px 0 0; width:85px; overflow:hidden;}
.left_list .class_item dl dd ul li a{}
.left_list .class_item dl dd ul li a.select{color:#06F;}


.left_list .business_nav{padding:10px 20px; border:#CCC 1px solid; margin-top:2px;}
.left_list .business_nav a.select{color:#06F;}
.left_list .business_list{padding:10px 20px; border:#CCC 1px solid; margin-top:2px;}
.left_list .business_list .item{}
.left_list .business_list .item .pic{}
.left_list .business_list .item .title{}
.left_list .business_list .item .content{}
.left_list .business_list .item .state{}
.left_list .business_list{}


.right_list{float:right;width:300px;}