<script src="/Themes/Default/Js/OrderCart.js" type="text/javascript"></script>
<table>
<tr>
<td height="400" width="400">{0}
</td>
<td><h1>{1}</h1>
<a href="{7}" id="Shopping_Buy">立即购买</a> <a href="{8}" id="Shopping_AddCart">放入购物车</a>
<br />
<s>￥{2}</s>￥{3}
<br />
商品编号：{4}<br />
售出/库存：{6}/{5}<br />
</td>
</tr>
<tr>
<td colspan="2">
自定义属性1：
{9}
<hr />
其它属性集合：
[AllOthers]
</td>
</tr>
</table>

{注释线-------(请勿删除此注释线,添加删除或更改注释线后可能导致认为整个页面的内容都为模板)---------------------------}
解释说明：
{0}--商品图（最多5张放大及切换）
{1}--商品名称
{2}--市场价
{3}--真实出售价
{4}--商品编码（ProductNumber）
{5}--库存（TotalCount）
{6}--已出售数量（SellCount）
{7}--购买按钮链接地址
{8}--加入购物车链接

{9}--商品自定义属性列表1
{10}--商品自定义属性列表2.....依次类推

[AllOthers]--从9开始一直到属性所有自定义属性属性（除了上面已指定的：比如属性有15个，面上面指定9、10，则AllOthers就是指11至15的属性）