<h1 style="padding-left:5px;">用户登录</h1>
<form id="UserLoginForm" name="UserLoginForm" method="post" action="{6}">
    <div class="FormInpu">
    <div>
        <label>用户名：
        {0}
        </label>
    </div>
    <div>
        <label>密　码：
        {1}
        </label>
    </div>
    <div>
        <label>验证码：
        {2}</label>
        {3}
    </div>
    </div>
    <div class="loginUtitly">          
        <label>
        <input type="checkbox" name="AutoLogin" id="AutoLogin" style="width:auto;" />记住用户
        </label>
        | <a href="{4}">忘记密码</a> 
    </div>
    <div class="Btn">
        <input type="image" name="Btn_ULogin" id="Image1" src="/Themes/Default/Images/Btn_Login.jpg" style="width:auto;" />
        &nbsp;<a href="{5}"><img src="/Themes/Default/Images/Btn_Reg.jpg" width="85" height="33" alt="" /></a> 
    </div>
</form>
{注释线-------(请勿删除此注释线,添加删除或更改注释线后可能导致认为整个页面的内容都为模板)---------------------------}
此模板用于在用户未登录时显示的html
解释说明：
{0}--用户名文本框
{1}--密码输入框
{2}--验证码输入框
{3}--验证码图片
{4}--找回密码链接地址
{5}--注册链接地址
{6}--form提交时的处理页面url