<h1 style="padding-left:5px;"><a href="{2}" target="_blank" style="font-size:16px;">用户管理中心</a></h1>
<div>
    <img src="/Themes/Default/Images/avatar.gif" alt="个人头像" style="float:left; margin:0 5px; padding:3px 3px; border-collapse:separate; border-style:dashed; border-color:Gray; border-width:1px;" />
    <div style="padding:5px 65px; font-weight:bold; width: 100%;">用户名：{0}</div>
    <div style="padding:10px 65px; width: 100%;">真实姓名：{1}</div>
</div>
<div style="float:none; padding-top:10px;">
    <ul>
        <li style="float:left; padding:5px">[ <a href="{2}">用户中心</a> ]</li>
        <li style="padding:5px 20px">[ <a href="/UserCenter/UserOrderInfo">订单信息</a> ]</li>
        <li style="float:left; padding:5px">[ <a href="/UserCenter/UserPoint">积分记录</a> ]</li>
        <li style="padding:5px 20px">[ <a href="{4}">修改密码</a> ]</li>
        <li style="float:left; padding:5px">[ <a href="/UserCenter/UserInfo">用户资料</a> ]</li>
        <li style="padding:5px 20px">[ <a href="{3}">安全退出</a> ]</li>
    </ul>
</div>


{注释线-------(请勿删除此注释线,添加删除或更改注释线后可能导致认为整个页面的内容都为模板)---------------------------}
此模板用于在用户未登录时显示的html
解释说明：
{0}--用户名
{1}--真实姓名
{2}--用户中心链接地址
{3}--安全退出链接地址
{4}--修改密码链接地址