<?xml version="1.0"?>
<appSettings>
	<!--邮件设置-->
	<!--SMTP服务器-->
	<add key="SMPTServer" value="smtp.exmail.qq.com" />
	<!--发件人昵称-->
	<add key="SendName" value="中国教育资源在线 - 客服邮箱" />
	<!--邮箱账号-->
	<add key="SendAccount" value="support@xing-ao.net" />
	<!--邮箱密码-->
	<add key="SendPwd" value="xingao123" />
	<!--SMTP端口-->
	<add key="SMTPPort" value="25" />
	<!--身份验证-->
	<add key="SmtpValidation" value="0" />
</appSettings>