<?xml version="1.0"?>
<appSettings>
	<!--网站名称-->
	<add key="SiteName" value="中国教育资源在线" />
	<add key="SiteUrl" value="http://www.cnjy.net" />
	<add key="Copyright" value="Copyright @ 2012-{currentyear} www.xing-ao.net Inc. All rights reserved." />
	<add key="Tel" value="0576-82923030" />
	<add key="Fax" value="0576-82923030" />
	<add key="ZIP" value="318050" />
	<add key="Address" value="浙江省台州市路桥区国际会展中心" />
	<!--与邮件服务器无关，如果要统一，需要在程序中做处理-->
	<add key="ServiceEmail" value="support@xing-ao.net" />
	<!--网站首页关键字-->
	<add key="IndexKeyWords" value="xxx,xxx,xx,xxx" />
	<!--网站首页描述-->
	<add key="IndexDescription" value="" />
</appSettings>