<?xml version="1.0"?>
<appSettings>
	<!--调用短信API的基本地址-->
	<add key="PostUrl" value="http://sms.xing-ao.cn/" />
	<add key="AppUser" value="tzweixin" />
	<add key="AppPwd" value="ASFGFGHH%%$#^*87655%^hgFJK" />
	<!--短信设置-->
	<add key="PhoneUsername" value="tysh" />
	<add key="PhonePassword" value="123456" />
	<add key="PhoneSign" value="生本教育" />
	<!--短信通道(1、审核通道  2、免审核通道 3、短信猫)-->
	<add key="Passage" value="1" />
</appSettings>