{$公用网站头$}
<div style="width:1000px; margin:3px auto 3px auto;border:1px solid #ddd;">
<script src="/upload/AdJS/635216659880400548.js"></script></div>
<table width="1000" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top"><table width="490" cellspacing="0" cellpadding="0">
      <tr>
        <td>
		
		<div id="KinSlideshow" style="visibility:hidden;"> 
		{$XA_首页幻灯片 ClassName="TPXW" ClassID="9"$} </div></td>
      </tr>
    </table>
	
	</td>
    <td width="10">&nbsp;</td>
    <td valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="t2">商会新闻</td>
      </tr>
      <tr>
        <td>{$XA_首页置顶新闻  ClassID="8"$}
        </td>
      </tr>
    </table>
      </td>
  </tr>
</table>
<div style="width:1000px; margin:3px auto 0 auto;">
<script src="/upload/AdJS/635211488646823312.js"></script>
</div>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:10px;">
  <tr>
    <td valign="top"><table width="730" border="0" align="center" cellpadding="0" cellspacing="0" class="kuang">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:4px;">

            <tr>
              <td width="1000"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td valign="top">
			{$XA_首页块栏目信息 Title="政策快递" ClassEn='ZCKD' ClassID="16"$}
		  </td>
                  <td width="10">&nbsp;</td>
                  <td valign="top">
				  
				  <table width="420" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
                    <tr>
                      <td class="t1">通知公告</td>
                    </tr>
                    <tr>
                      <td>{$XA_首页通知公告$}</td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
        </table></td>
      </tr>
    </table>
    </td>
    <td width="10">&nbsp;</td>
    <td valign="top" class="bg_kuang1"><table width="258" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="t3">桐屿商会</td>
      </tr>
    </table>
        <table width="258" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="t4">商会简介</td>
          </tr>
          <tr>
            <td><table width="98%" border="0" align="center" cellpadding="0" cellspacing="5" style="margin:3px">
              <tr>
                <td width="50%" class="shjj"><a href="/SHJJ" target="_blank">商会简介</a></td>
                <td width="50%" class="shjj"><a href="/SHZC" target="_blank">商会章程</a></td>
              </tr>
              <tr>
                <td class="shjj"><a href="/LDZC" target="_blank">领导致词</a></td>
                <td class="shjj"><a href="/SHRY" target="_blank">商会荣誉</a></td>
              </tr>

              
            </table></td>
          </tr>
        </table>
      <table width="258" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="t4">商会机构</td>
          </tr>
          <tr>
            <td><table width="95%" border="0" align="center" cellpadding="0" cellspacing="5">
                <tr>
                  <td class="lh20">
{$XA_首页商会简介$}</td>
                </tr>
              </table></td>
          </tr>
        </table>
    </td>
  </tr>
</table>

{$XA_首页商会风采$}
 <script>
	var butong_net_left1=document.getElementById("butong_net_left1");
	var butong_net_left2=document.getElementById("butong_net_left2");
	var speed=30//速度数值越大速度越慢
	butong_net_left2.innerHTML=butong_net_left1.innerHTML
	function Marquee3(){
	if(butong_net_left2.offsetWidth-butong_net_left.scrollLeft<=0)
	butong_net_left.scrollLeft-=butong_net_left1.offsetWidth
	else{
	butong_net_left.scrollLeft++
	}
	}
	var MyMar3=setInterval(Marquee3,speed)
	butong_net_left.onmouseover=function() {clearInterval(MyMar3)}
	butong_net_left.onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}
 </script>
<div style="width:1000px; margin:0 auto;">
<script src="/upload/AdJS/635199603314258650.js"></script>
</div>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="kuang" style="margin-top:10px;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:4px">
      <tr>
        <td width="410" valign="top" style="border-right:#D6E1EC solid 1px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="120" class="t"><img src="/Themes/Default/images/t_flfw.jpg" width="95" height="24"></td>
            <td width="619" class="t5_more">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">
			<ul class="index_law">
				<li class="t4_non t4_on"><img src="/Themes/Default/images/ico_cjwt.gif" width="23" height="23" align="absmiddle" style="margin:0 5px">法律法规</li>
				<li class="t4_non"><img src="/Themes/Default/images/ico_jrzx.gif" width="23" height="23" align="absmiddle" style="margin:0 5px">律师事务所</li>
			</ul>
			<div id="tab-content">
				<div>{$XA_首页法律法规$}</div>
				<div class="hide">{$XA_首页律师事务所$}</div>
			</div>
			</td>
          </tr>
        </table></td>
        <td width="340" valign="top">
		{$XA_首页商会党建$}
		</td>
        <td valign="top" style="border-left:#D6E1EC solid 1px;">
			{$XA_首页技术市场$}
        <table width="240" border="0" align="center" cellpadding="0" cellspacing="10">
          <tr>
            <td>
<a href="/Template/reg" target="_blank">
<img src="/Themes/Default/images/join.jpg" width="230" height="70"></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<div style="width:1000px; margin:3px auto 0 auto;">
<script src="/upload/AdJS/635216659880400548.js"></script></div>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="kuang" style="margin-top:10px;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:4px">
      <tr>
        <td width="120" class="t"><img src="/Themes/Default/images/t_shhd.jpg" width="99" height="24"></td>
        <td width="880" class="t5_more">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
        <div class="productshow">
            <div class="scrollcontainer">
                <ul>
                     {$XA_首页商会活动$}
                </ul>
            </div>
            <a class="abtn aleft" href="#left">左移</a>
            <a class="abtn aright" href="#right">右移</a>
        </div>
        <script type="text/javascript" src="/Scripts/Xslider.js"></script>
        <script type="text/javascript">
        $(function(){
			$("ul.index_law li").click(function(ex){
			        $(this).addClass("t4_on").siblings().removeClass("t4_on");
					$("#tab-content > div").hide().eq($('ul.index_law li').index(this)).show();
			});
            $(".productshow").Xslider({
                unitdisplayed:5,
                numtoMove:5,
                loop:"cycle",
                autoscroll:2000
            });
        })
        </script>		
		</td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="kuang" style="margin-top:10px;">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:4px">
      <tr>
        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="yqlj" >
          <tr>
            <td class="t5" style="border-bottom:0px; line-height:28px;">商会成员</td>
            </tr>
          <tr>
            <td valign="middle">
			{$XA_首页商会成员$}
			</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<div style="width:1000px; margin:3px auto 0 auto;">
<script src="/upload/AdJS/635216659880400548.js"></script></div>
{$公用网站底$}